GML/
saved_gml/
target/
RESULTS/
src/main/resources/GLKH-1.0/G-TOURS/
src/main/resources/GLKH-1.0/GTSPLIB/
src/main/resources/GLKH-1.0/TMP/
src/main/resources/GLKH-1.0/PI_FILES/*
src/main/resources/GLKH-1.0/runGLKH
src/main/resources/GLKH-1.0/runGLKH*
log.txt
logs/
